.qbootstrap-nav ul li a,.qbootstrap-nav ul li.active > a,.qbootstrap-nav ul li > a:hover{
    color: white
}
.qbootstrap-nav ul li.active,.qbootstrap-nav ul li{
    background-color: grey
}
#page{
    min-height: 100vh
}
#page > div{
    padding: 15px;
}
#bread-crumb{
    background-color: rgba(241,241,241,0.4);
    min-height: 70px;
}
#bread-crumb > a{
    font-size: 14pt;
    color: #8282a2;
    text-decoration: none;
}
#bread-crumb > a.active{
    color: grey;
    opacity: 0.6;
}
form{
    margin-top: 20px;
}
.navbar-default{
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #8282a2;
}

#content-detail{
    max-width: 760px;
    margin: 0 auto;
}

.menu-list{
    margin: 0 auto;
}

.menu-item{
    padding: 7px;
    text-align: center;
    border-radius: 6px;
    width: 50%;
    float: left;
    margin-bottom: 15px;
}
.menu-item a{
    text-decoration: none;
    /*margin: 5px;*/
}
.menu-item img{
    padding: 5px;
    border-radius: 10px;
}
.menu-item .caption{
    font-weight: bold;
    color:white;
    font-size: 16px;
}
.menu-item:hover{
    background-color: rgba(255,255,255,0.5);
    border:solid white;
}
.navbar-right{
    float: right;
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .menu-list{
        max-width: 360px;
    }
    .menu-item{
        width: 180px;
        height: 180px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .menu-list{
        max-width: 460px;
    }
    .menu-item{
        width: 230px;
        height: 230px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .menu-list{
        max-width: 600px;
    }
    .menu-item{
        width: 200px;
        height: 200px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .menu-list{
        max-width: 800px;
    }
    .menu-item{
        width: 200px;
    }
}
.action-container{
    width: 100%;
    display: inline-flex;
    padding: 0px;
}
.action-left{
    margin: 3px;
    display: inline-block;
    width: 45%;
    text-align: left;
}
.action-container .btn{
    margin:5px;
}
.action-center{
    text-align: center;
    max-width: 100px;
    margin: 5px auto;
}
.action-right{
    margin: 3px;
    width: 45%;
    display: inline-block;
    text-align: right;
}
.action-container form{
    margin: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
